<% include ../partials/top %>

<!-- <section class="movie-container">
  <form method="POST" action="/auth/login">
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="username" name="userName">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="email" placeholder="email" name="email">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="password" placeholder="Password" name="password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <input type='submit' value='Log in!' class="button is-success" />
      </p>
    </div>
  </form>
</div> -->


<div class="ui equal width form">
  <form method="POST" action="/auth/login">
  <div class="fields">
    <div class="field">
      <label>Username</label>
      <input type="text" placeholder="Username" name="userName">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password">
    </div>
  </div>
  <div class="fields">
    <div class="field">
      <label>Email</label>
      <input type="email" placeholder="email" name="email">
    </div>
    </div>
    <div class="field">
    <input type='submit' value='Log in!' class="ui submit button" />
    <!-- <div class="ui submit button" >Login!</div> -->
  </div>
</form>
</div>
<% include ../partials/bottom %>
