<% include ../partials/top %>



<div class="ui equal width form">
  <form method="POST" action="/auth/register">
  <div class="fields">
    <div class="field">
      <label>Username</label>
      <input type="text" placeholder="Username" name="userName">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password">
    </div>
  </div>
  <div class="fields">
    <div class="field">
      <label>Email</label>
      <input type="email" placeholder="email" name="email">
    </div>

    <input type='submit' value='Register!' class="ui submit button" />
  </div>
</form>
</div>

<% include ../partials/bottom %>
