<% include ./partials/top.ejs%>



<div class="index">
<button class="large positive ui button"><a href="/auth/login">Login</a></button>
<button class="large positive ui button"><a href="/auth/register">Register</a></button>
</div>

<% include ./partials/bottom.ejs %>
