<% include ../partials/top.ejs%>
    <h1>LOG IN FORM GOES HERE!</h1>

    <div class='movie-container'>
  <form method='POST' action='users/profile'>
    <input name='dog_name' type='text' placeholder='dog_name' required />
    <input name='medication' type='text' placeholder='medication' required />
    <input name='vet ' type='text' placeholder='vet ' required />
    <input name='weight ' type='text' placeholder='weight' required />
    <input type='submit' value='Register!' />
  </form>
</div>


<% include ../partials/bottom.ejs %>
